@charset "UTF-8";

*{
	margin: 0px; padding: 0px;
}

#wrap{
	width:1200px;
	margin: 0 auto;
	padding-top: 50px;
	display: flex;
	justify-content: space-around;
}

.join{
	width:550px; height:600px;
	border-right: 1px solid #eeeeee;
	text-align: center;
}
.formIn{
	margin-top: 50px;
	display: flex;
	width: 500px; 
	vertical-align: middle;
	justify-content: center;
}

.idIn{
	width:200px; height:30px;
	text-align: left;
}

.pwIn{
	width:200px; height:30px;
	text-align: left;
}


.form_btn{
	width: 150px; height:70px;
	background-color: white;
}
.title{
	font-size: 35px;
}

.login{
	width:550px; height:600px;
	text-align: center;
}

.idOut{
	width:200px; height:30px;
	text-align: left;
}

.pwOut{
	width:200px; height:30px;
	text-align: left;
}