@charset "UTF-8";



@font-face {
    font-family: 'font';
    src: url(KakaoRegular.ttf) format('truetype');
}

.title{
	font-family:'font';
	font-size: 30px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 20px;
	
	
}

.content1{
	border: solid 1px lightgray;
	width: 550px;
	height: 400px;
	margin: 0 auto;


	
}
.d1{
		width:400px;
		margin: 0 auto;
		margin-top: 50px;
	
}


.text1{
	font-size: 15px;
	font-weight: 550;
	width: 400px; 
	height: 30px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid 2px #c0c0c0;
	
}

.d2{
		width:400px;
		margin: 0 auto;
		margin-top: 20px;
}

.d3{
		width:400px;
		margin: 0 auto;
		margin-top:20px;
}
.radio{
	width:18px;
	height:18px;

	
	
}

.text3{
	vertical-align: 4px;
	font-size: 12px;
	font-weight: 550;
	color : #6A5F51
}

.d4{
		width: 400px;
		margin: 0 auto;

}


.login{
		border: none;
		border-radius: 5px;
		width:400px;
		height: 45px;
		margin: 0 auto;
		margin-top: 30px;
		background-color: #FEE500;
		font-weight: 540;

	
	
}

.d5{
		width: 400px;
		margin: 0 auto;

}

.QR{
		border: none;
		border-radius: 5px;
		width:400px;
		height: 45px;
		margin: 0 auto;
		margin-top: 20px;
		background-color: #F0F0F0;
		font-weight: 540;

}

.d6{
	width: 220px;
	height: 30px;
	margin-top: 20px;
	margin-left: 285px;
	
	
}

.sign{
	font-size: 8px;
	border-top: none;
	border-left: none;
	border-bottom: none;
	border-right: solid 1px #F0F0F0;
	background-color: white;
	height: 15px;
	
}

.d7{
	border: none;
	width: 500px;
	height: 60px;
	margin: 0 auto;
	margin-top: 10px;
	padding: 20px;
	color : gray;
}
.kakao1{
	border: none;
	font-size: 8px;
	background-color: white;
	height: 15px;
	margin-left: 60px;
	
}

.kakao{
	
	border: none;
	font-size: 8px;
	background-color: white;
	height: 15px;
	
}
.copyright{
	font-size: 8px;
	text-align: center;
	color: gray;
	
	
	
}
.copy{

	color: black;
	
	
	
}


	
