@charset "UTF-8";



*{ /* 공통 부문  */
	padding: 0px;
	margin: 0px;
}

a{ /* a 기본값 제거  */
	color: black;
	text-decoration: none;
}

li{ /* li 글머리 제거  */
	list-style-type: none;
}

.top_menu{ /* li 가로 배치하는 방법1  */
	display: flex; /* 하위 요소 배치 */
	justify-content: flex-end; /* 하위 가로 정렬  */
	align-items: center; /* 하위 요소 세로 정렬  */
	border-bottom: 1px solid #DBDBDB; /* 아래 테두리  */
	padding: 10px; /* 안쪽 여백  */
	font-size: 10px; /* 부모요소에 폰트적용시 하위요소 적용  */
}

/* .top_menu li{ li 가로 배치하는 방법2  */
/*	display: inline-block; }  */
	
.line{
	padding: 0px 10px;
}

.top_menu_icon{
	width: 20px;
	vertical-align: middle; /* 이미지 크기 변경  */
}

.main_menu{
	display: flex; /* 하위요소 정렬  */
	justify-content: space-between; /* 양끝 정렬  */
	align-items: center;
	padding: 0px 50px 0px 30px;
	position: sticky; /* 스크롤 내릴경우 고정  */
/* sticky 사용조건
	1. 상위 부모의 높이 사이즈 안에서 고정 vs fixed
	2. top right left bottom 1개 이상 필수
	3. 부모요소 overflow 속성 사용금지
*/
	
	
	
	top: 0px;
	z-index: 1; /* 겹쳤을때 우선 순위  */
	background-color: white;
	opacity: 0.9; /* 배경요소 투명도 1=100% 0.5=50%  */
	
}

/* 메뉴  */
.main_menu ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold; /* 글꼴 진하게  */
	padding: 30px;
	width: 65%; /* 가로 사이즈  */
}

/* 포커스(커서)  */
.focus{
	outline: none;	
}

.seach_box{
	border-bottom: 1px solid black;
}

.seach_box img{ /* 돋보기 이미지  */
	height: 15px;
}

.seach_box input{
	border: none;
	padding: 5px;
}

.new{color: red;}

.logo{width: 150px;}


.drop_menu{
	position: relative; /* 상대 위치  */
}


.drop_menu .sub_menu{
	position: absolute; /* 절대위치  */
	left: -40px; top: 15px;
	/* drop_menu 요소 기준 좌측 탑 이동  */
	display: none; /* 메뉴 숨김  */
	width: 100px;
	background-color: white;
	padding: 50px 0px; /* 여백  */
	text-align: center; /* 택스트 정렬  */
}

.drop_menu:hover .sub_menu{
	display: block; /* 보이기  */
}

#main_img{width: 100%}

/* 본문 시작  */

#content{
	width: 1600px;
	margin: 0 auto;
	padding: 50px 0px;
}

#content .title{
	font-size: 17px;
	text-align: center;
	font-weight: bold;
}

#content .comment{
	font-size: 12px;
	text-align: center;
	color: #999999;
	margin: 20px 0px;
}

/* 제품 1개  */


.items{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.item{ /* 1600/4 → 400px 여백포함  */
	width: 380px; 
}

.item img{ /* 부모요소 사이즈에서 100% */
	width: 100%
}

/* 칼라 요소의 구역  */
.color span{
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 1px solid #DBDBDB;
}

.color_review{ /* 칼라 리뷰수 가로 배치  */
	display: flex;
	justify-content: space-between;
}

.review{ /* 리뷰 수 색상  */
	color: #808080;
}

/* 제품명 사이즈  */
.item_name{ 
	margin: 5px 0px 10px 0px;
}

.item_name .size{
	font-size: 5px green;
}

.item_price{ /* 제품 가격  */
	position: relative;
	margin-bottom: 10px;
}

.item_price .discount{
	position: absolute;
	right: 0px;
	top: 0px; /* 오른쪽 상단 배치  */
	font-size: 14px;
	color: red;
	font-weight: bold;
}

.price{
	text-decoration: line-through; /* 취소선 */
	color: blue;
}

.item_icon img{ /* BEST 아이콘 사이즈  */
	width: 30px;
}

/* 푸터 시작  */
.top_tf{
	background-color: #F2F2F1;
}

.content_ft{
	width: 1400px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 50px
}

.content_ft h3{
	margin : 10px 0px;
	font-size: 20px;
}

/* 푸터 제목들  */
.content_ft p{
	margin-top: 5px;
}

.bottom_ft{
	text-align: center;
	font-size: 14px;
	color: black;
	margin: 30px 0px;
	line-height: 180%; /* 줄간격  */
}

#popup_wrap{
	position: fixed;
	right: 0px;
	top: 30%;
}

#popup_wrap ul{
	display: flex;
	flex-direction: column;
	padding: 20px;
}

#popup_wrap li{
	width: 30px;
	height: 25px;
	background-color: #F2F2F1;
	padding: 13px;
	border: 1px solid skyblue;
	text-align: center;
}

#popup_wrap img{
	width: 30px;
	height: 30px;
}

.popup_item{
	position: relative;
}

.popup_item .sub_item{
	position: absolute;
	top: 2px;
	right: 50px;
	display: none; /* 숨김  */
	width: 80px;
	height: 15px;
	background-color: black;
	color: white;
	padding: 10px;
	border-radius: 10px; /* 둥근모서리  */
}

.popup_item:hover .sub_item{
	display: block;
}





