@charset "UTF-8";

h1{
	text-align: center;
}

.field{
	border: solid 1px gray;
	padding-top: 50px;
	width: 500px;
}


.login{
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
   	width: 500px;
}

.login input{
    border: none;
    padding: 10px 0px;
    font-size: 17px;
    border-bottom: solid 1px gray;
    margin-bottom: 10px;
}

.login2{
	background-color: #FEE500;
	border: none;
	border-radius: 5px;
	height: 45px;
	margin: 0 auto;
	margin-top: 30px;
	width: 500px;
	
}

.login3{
	background-color: #F0F0F0;
	border: none;
	border-radius: 5px;
	height: 45px;
	margin: 0 auto;
	margin-top: 30px;
	width: 500px;
}


.login4{
	font-size: 10px;
	text-align: right;
	border-top: none;
	border-left: none;
	border-bottom: none;
	border-right: solid 1px #F0F0F0;
	background-color: white;
	height: 15px;	
}

.last{
	font-size: 15px;
	text-align: center;
	height: 15px;
	

	
	
	
	
}