@charset "UTF-8";

*{padding: 0px; margin: 0px;}

a{color: black; text-decoration: none;}
	 /* a 기본값 제거  */

li{list-style-type: none; } /* 글머리 제거 */


#warp{
	margin: 0 auto;
	align-items: center;
}

#warp a:hover {
	color: #C6C1BB;
}

.top_header_clear{
	width: 100%;
	height: 15px;
	background-color: #EBEAE6;
}

#top_header{
	display: flex;
	justify-content: space-between;
	text-align: center;
	font-size: 10px;
	color: #000000;
	width: 100%;
	margin: 10px 10px 10px 10px;
}

#top_header span{
	color: #EBEAE6;
}

.top_header_left{
	margin-left: 10px;
}

.top_header_right{
	margin-right: 30px;
}

.top_header_right select{
	border: none;
}

.top_header_margin{
	width: 1200px;
	height: 80px;
	margin: 0 auto;
}

#top_header li{
	display: inline-block;
}

#top_header ul{
	letter-spacing: 2px;
}

#top_header img{
	vertical-align: middle;
}


#mid_header{
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mid_header_clear{
	width: 1200px;
	height: 60px;
	margin: 0 auto;
}

.logo_sub{
	width: 1200px;
	height: 90px;
}

.logo_sub img{
	width: 140px;
}

#low_header{
	width: 1200px;
	height: 35px;
	margin: 0 auto;
	padding-bottom: 30px;
}

.low_header_product{
	width: 1150px;
	height: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	margin-right: 50px;
}



.low_header_drop{
	position: relative; /* 부모요소에 상대위치 */
}

.low_header_drop_sub{
	top: 40px;
	left: -10px;
	border-right : 1px solid #EBEAE6;
	border-bottom: 1px solid #EBEAE6;
	border-left: 1px solid #EBEAE6;
	color: #EBEAE6;
	display: none;  /* 서브메뉴 숨김  */
	position: absolute;
	font-size: 12px;
	line-height: 200%;
	width: 110px;
	height: 90px;
	padding: 10px 10px;
	text-decoration: underline;
}


.low_header_drop:hover .low_header_drop_sub{
	display: block;
}



#sidebar{

}

#sidebar img{
	width: 33px;
}



.sidebar_sub{
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 210%;
	position: fixed;
	right: 30px;
	top: 25%;
	font-size: 14px;
	
}

.sidebar_drop{
	position: relative;

}

.sidebar_drop_sub{
	top: -5px;
	left: -70px;
	border: 1px solid;
	background-color: #333333;
	display: none;  /* 서브메뉴 숨김  */
	position: absolute;
	font-size: 12px;
	color: white;
	text-align: center;
	height: 20px;
	padding: 10px 10px;

}


.sidebar_drop:hover .sidebar_drop_sub{
	display: block;
}

